<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/mycss.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="cdn/bootstrap.min.css">
  </head>
  <body>
    <div id="header">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" role="navigation">
          <a href="#" class="navbar-brand">Hệ thống quản lý cập nhật tình hình các chuyến bay đến và đi cho sân bay quốc tế Đà Nẵng</a>
      </nav>
    </div>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <div class="container">
            <h3 class="display-5 daNangAirportGuide">
              Da Nang Airport Guide
            </h3>
          </div>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Học sinh</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Thời khóa biểu<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kết quả học tập</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Thông báo cá nhân</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Báo cáo</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Giáo viên chủ nhiệm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Thời khóa biểu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bảng điểm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đánh giá học tập</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Xuất bảng điểm</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Giáo viên bộ môn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Thời khóa biểu dạy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bảng điểm các lớp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Chỉnh sửa điểm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nhập bảng điểm (excel)</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Quản lý</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đăng thông báo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Xem/Xuất kết quả</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cập nhật năm học</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Xem/thêm/xóa học sinh</a>
            </li>
          </ul>
        </nav>

        <div role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <div class="jumbotron text-center myjumbotron">
            <h1 class="display-5">HỆ THỐNG QUẢN LÝ ĐIỂM TRƯỜNG XXX</h1>
          </div>

          <h1>Dashboard</h1>

          <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <div class="text-muted">Something else</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </section>

          <h2>Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer fixed-bottom">
        <div class="container-fluid">
            <span class="text-muted">Nhóm 9 - TTCN - 2017</span>
        </div>
    </footer>

    <script src="cdn/jquery-3.2.1.slim.min.js"></script>
    <script src="cdn/popper.min.js"></script>
    <script src="cdn/bootstrap.min.js"></script>
  </body>
</html>
