<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/mycss.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="cdn/bootstrap.min.css">
  </head>
  <body>
    <div id="header">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" role="navigation">
          <a href="#" class="navbar-brand">Hệ thống quản lý cập nhật tình hình các chuyến bay đến và đi cho sân bay quốc tế Đà Nẵng</a>
      </nav>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <img src="./public/AirPort.png" alt="" style="width: 100%;">
          <div class="container">
            <h3 class="display-5 daNangAirportGuide">
              Da Nang Airport Guide
            </h3>
            <br>
            <h4 class="display-5 text-center">
              Phan Dinh Tung
            </h4>
          </div>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Quản lý chuyến bay</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tình hình chuyến bay</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Thêm chuyến bay</a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" href="#">Quản lý nhân viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Danh sách nhân viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Thêm nhân viên</a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" href="#">Quản lý thông tin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Xem thông tin cá nhân</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đổi mật khẩu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đăng xuất</a>
            </li>
          </ul>
        </div>

        <div role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1 class="text-center">Thêm chuyến bay </h1>
          <br>
          <h1 class="text-center">màn hình thêm chuyến bay theo như srs v1.0 page 37</h1>
        </div>
      </div>
    </div>

    <footer class="footer fixed-bottom">
        <div class="container-fluid">
            <span class="text-muted">Nhóm 9 - TTCN - 2017</span>
        </div>
    </footer>

    <script src="cdn/jquery-3.2.1.slim.min.js"></script>
    <script src="cdn/popper.min.js"></script>
    <script src="cdn/bootstrap.min.js"></script>
  </body>
</html>
